@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    background-color: #f1f5f9;
    color: black;
}

.navbar, .navbar > * {
  border: none !important;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.bottom-shadow {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.animated-gradient {
  background: linear-gradient(135deg, #667eea, #764ba2);
  background-size: 800% 800%;
  animation: gradientBG 15s ease infinite;
}

.blob-container::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 0, 0, 0.2); /* Red blob with opacity */
  border-radius: 50%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: blob 5s infinite;
}

@keyframes blob {
  0%, 100% {
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
  25% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  50% {
    border-radius: 30% 30% 70% 70% / 50% 50% 50% 50%;
    transform: translate(-50%, -50%) scale(1.1);
  }
  75% {
    border-radius: 50% 50% 50% 50% / 70% 70% 30% 30%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.heroSectionPic{
  animation: bounce 4s linear infinite; 
}
@keyframes bounce{
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}

.hero-section {
  /* ... other styles */
  display: grid; /* Use grid layout for precise control */
  grid-template-columns: 3fr 1fr; /* Define columns: strip (3 parts), image (1 part) */
}

.hero-strip {
  background-color: #333; /* Customize color */
  color: #fff; /* Text color */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Fix height of the strip */
}

