@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    background-color: #f1f5f9;
    color: black;
}

.generated-background{
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='29' height='50.115' patternTransform='scale(3) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M14.498 16.858L0 8.488.002-8.257l14.5-8.374L29-8.26l-.002 16.745zm0 50.06L0 58.548l.002-16.745 14.5-8.373L29 41.8l-.002 16.744zM28.996 41.8l-14.498-8.37.002-16.744L29 8.312l14.498 8.37-.002 16.745zm-29 0l-14.498-8.37.002-16.744L0 8.312l14.498 8.37-.002 16.745z'  stroke-width='0.5' stroke='hsla(258.5,59.4%,59.4%,1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>")
}

.navbar, .navbar > * {
  border: none !important;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.glassmorphism-xl {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 12px;
}

.bottom-shadow {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.animated-gradient {
  background: linear-gradient(135deg, #667eea, #764ba2);
  background-size: 800% 800%;
  animation: gradientBG 15s ease infinite;
}

.blob-container::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #afcbe9; 
  border-radius: 50%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: blob 5s infinite;
}

.blob-container-sm-web::before {
  content: '';
  position: absolute;
  width: 70px; /* Adjust size as needed */
  height: 70px; /* Adjust size as needed */
  background: rgb(56 189 248); /* Tailwind CSS bg-blue-400 equivalent */
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: blob 5s infinite;
}

.blob-container-sm-app::before {
  content: '';
  position: absolute;
  width: 70px; /* Adjust size as needed */
  height: 70px; /* Adjust size as needed */
  background: rgb(248 113 113); /* Tailwind CSS bg-blue-400 equivalent */
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: blob 5s infinite;
}

.blob-container-sm-logo::before {
  content: '';
  position: absolute;
  width: 70px; /* Adjust size as needed */
  height: 70px; /* Adjust size as needed */
  background: rgb(74 222 128); /* Tailwind CSS bg-blue-400 equivalent */
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: blob 5s infinite;
}


@keyframes blob {
  0%, 100% {
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
  25% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  50% {
    border-radius: 30% 30% 70% 70% / 50% 50% 50% 50%;
    transform: translate(-50%, -50%) scale(1.1);
  }
  75% {
    border-radius: 50% 50% 50% 50% / 70% 70% 30% 30%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.heroSectionPic{
  animation: bounce 4s linear infinite; 
}

@keyframes bounce{
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}

.hero-section {
  /* ... other styles */
  display: grid; /* Use grid layout for precise control */
  grid-template-columns: 3fr 1fr; /* Define columns: strip (3 parts), image (1 part) */
}

.hero-strip {
  background-color: #333; /* Customize color */
  color: #fff; /* Text color */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Fix height of the strip */
}


@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900');

body {
	margin: 0;
	padding: 0;
}

.container {
	background:#1F2024;
	min-height: 50vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: relative;
}

.blob-c {
	min-height: 50vh;
	overflow: hidden;
	position:absolute;
	width: 100%;
	filter: blur(40px);
/*   background: rgba(255,255,255,0.1) */
}

.shape-blob {
	background:#26C3F9;
	height: 60px;
	width: 80px;
	border-radius: 40% 50% 30% 40%;
  	animation: 
		transform 18s ease-in-out infinite both alternate,
		movement_one 12s ease-in-out infinite both;
	opacity:.7;
	position: absolute;
	left: 75%;
	top: 40%;
}
.shape-blob.one{
	background:#0085FF;
	height: 150px;
	width: 200px;
	left: 10px;
	top: 10px;
	transform: rotate(-180deg);
	animation: transform 8s ease-in-out infinite both alternate, movement_two 20s ease-in-out infinite both;
}

.shape-blob.six{
	background:#0EAFFF;
	height: 70px;
	width: 100px;
	left: 160px;
	top: 200px;
	transform: rotate(-180deg);
	animation: transform 5s ease-in-out infinite both alternate, movement_two 5s ease-in-out infinite both;
}

.shape-blob.four{
	background:#4EAEFF;
	height: 100px;
	width: 80px;
	left: 350px;
	top: 60px;
	transform: rotate(-180deg);
	animation: transform 17s ease-in-out infinite both alternate, movement_two 13s ease-in-out infinite both;
}

.shape-blob.five{
	background:#0085FF;
	height: 100px;
	width: 80px;
	left: 480px;
	top: 30px;
	transform: rotate(-180deg);
	animation: transform 12s ease-in-out infinite both alternate, movement_two 18s ease-in-out infinite both;
}

.shape-blob.two{
	background:#4EAEFF;
	height: 150px;
	width: 150px;
	left: 600px;
	top: 150px;
	transform: rotate(-180deg);
	animation: transform 10s ease-in-out infinite both alternate, movement_two 10s ease-in-out infinite both;
}

.shape-blob.three{
	background:#0EAFFF;
	height: 150px;
	width: 150px;
	left: 800px;
	top: 30px;
	transform: rotate(-180deg);
	animation: transform 7s ease-in-out infinite both alternate, movement_two 23s ease-in-out infinite both;
}

@keyframes transform
{
    0%,
  100% { border-radius: 33% 67% 70% 30% / 30% 40% 70% 70%; } 
   20% { border-radius: 37% 63% 51% 49% / 37% 35% 35% 63%; } 
   40% { border-radius: 36% 64% 64% 36% / 64% 48% 52% 26%; } 
   60% { border-radius: 37% 63% 51% 49% / 30% 30% 70% 73%; } 
   80% { border-radius: 40% 60% 42% 58% / 51% 51% 49% 59%; } 
}


@keyframes movement_one
{
    0%,
  100% { transform: none; }
   50% { transform: translate(50%, 20%) rotateY(10deg) scale(1); }
}

@keyframes movement_two
{
    0%,
  500% { transform: none; }
   50% { transform: translate(50%, 20%) rotate(-200deg) scale(1.3);}
}

/* h1 {
	font-family: 'Playfair Display', serif;
	font-size: 5em;
	letter-spacing: 2px;
	font-weight: 900;
	color: white;
	line-height: .9em;
	position: absolute;
	z-index: 4;
	text-shadow: 2px 3px 15px rgba(0,0,0,.15);
} */

@media (max-width: 640px) { 
    .responsive-image {
    width: 28px; /* Default width */
    height: 28px; /* Maintain aspect ratio */
  }
}

.c-d-blue {
  color: #387fc8;
}

.c-l-blue{
  color: #5f98d3;
}


.animated-image {
  transform: translateY(-100%); 
  animation: slideDown 1s forwards; 
}
@keyframes slideDown {
  from {
      transform: translateY(-100%); 
  }
  to {
      transform: translateY(0); 
  }
}

.animated-div {
  transform: translateX(-100%); 
  animation: slideright 1s forwards; 
}
@keyframes slideright {
  from {
      transform: translateX(-100%); 
  }
  to {
      transform: translateX(0); 
  }
}

.underline-main {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}
.underline-main:hover {
  background-size: 100% 88%;
}

.sevice-card-hover-effect {
  position: relative;
  overflow: hidden;
}

.sevice-card-hover-effect::before {
  content: '';
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1e40af; /* Replace with your 'bg-blue-dark' color code */
  transition: top 0.5s ease-in-out;
  z-index: 0;
}

.sevice-card-hover-effect:hover::before {
  top: 0;
}

.sevice-card-hover-effect > * {
  position: relative;
  z-index: 1;
}


